name: ci

on:
  pull_request:
    branches:
    - '**'

jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@22ae8ed7a2ea5c80331758914c4e0ea732eea1ad # v0.15.0
    with:
     go-version: '1.25'
     go-lint-version: 'v2.4.0'
     run-unit-tests: true
     run-integration-tests: true
     run-lint: true
     run-gosec: true
     gosec-args: "-exclude-generated -exclude-dir=e2etest -exclude-dir=testutil ./..."
     install-dependencies-command: |
       sudo apt-get update
       sudo apt-get install -y libzmq3-dev

  docker_pipeline:
    permissions:
      contents: read         # Required by reusable workflow
      id-token: write        # Required for AWS OIDC
      security-events: write # Required for Trivy SARIF uploads
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@d2299e834fcbaca4bf2db043a2939798043d5951 # v0.16.1
    secrets: inherit
    with:
     publish: false
