name: goreleaser

on:
  push:
    tags:
      - '*'

permissions:
  contents: write

jobs:
  release:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_releaser.yml@22ae8ed7a2ea5c80331758914c4e0ea732eea1ad # v0.15.0
    secrets: inherit
