name: docker_publish

on:
  push:
    branches:
      - 'release/*'
      - 'hiep-build'
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      skip-lint-test:
        description: "Skip tests"
        required: false
        type: boolean
        default: false
        
jobs:
  lint_test:
    uses: babylonlabs-io/.github/.github/workflows/reusable_go_lint_test.yml@22ae8ed7a2ea5c80331758914c4e0ea732eea1ad # v0.14.5
    if: ${{ !(github.event_name == 'workflow_dispatch' && inputs['skip-lint-test'] == true) }}
    with:
      go-version: '1.25'
      go-lint-version: 'v2.4.0'
      run-unit-tests: true
      run-integration-tests: true
      run-lint: true
      run-gosec: true
      gosec-args: "-exclude-generated -exclude-dir=e2etest -exclude-dir=testutil ./..."
      install-dependencies-command: |
        sudo apt-get update
        sudo apt-get install -y libzmq3-dev
    permissions:
      # required for all workflows
      security-events: write
      # required to fetch internal or private CodeQL packs
      packages: read

  docker_pipeline:
    # Always evaluate, but only proceed if:
    # - skip is enabled, or lint_test succeeded (normal path)
    if: ${{ always() && (
            (github.event_name == 'workflow_dispatch' && inputs['skip-lint-test'] == true) ||
            needs.lint_test.result == 'success'
          )}}
    needs: ["lint_test"]
    uses: babylonlabs-io/.github/.github/workflows/reusable_docker_pipeline.yml@22ae8ed7a2ea5c80331758914c4e0ea732eea1ad # v0.14.5
    secrets: inherit
    with:
      publish: true
      docker_scan: true
    permissions:
      # required for all workflows
      security-events: write
      # required to fetch internal or private CodeQL packs
      packages: read
